{% extends "base.html" %}
{% block content %}
<div class="overlay"></div>
<div class="container d-flex flex-column justify-content-center align-items-center"
     style="min-height: 100vh; margin-top: 50px; text-align: center;">
    <h2 class="mb-4 logo-font">Send Marketing Email</h2>
    <form method="POST" class="w-50 p-4 shadow-lg rounded bg-white">
        {% csrf_token %}
        <div class="mb-3 w-100">
            <label for="subject" class="form-label">Subject:</label>
            <input type="text" id="subject" name="subject" class="form-control">
        </div>
        <div class="mb-3 w-100">
            <label for="message" class="form-label">Message:</label>
            <textarea id="message" name="message" class="form-control" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-taupe w-100">Send Email</button>
    </form>
</div>

{% endblock %}
